/* Footer.css */

.footer {
    background-color: cornflowerblue;
    color: #fff;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    margin-left: 50px;
}

.rights {
    font-size: 16px;
   margin-left: 40%;
   margin-top: 15%;
   
}
