/* signup.css */
.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(
        to bottom right, 
        rgba(0, 0, 0, 0.5), /* Start with semi-transparent black */
        rgba(2, 15, 45, 0.531), /* Transition to semi-transparent purple (Indigo) */
        rgba(36, 2, 62, 0.415)
    ),url('../asset/auth/secp.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */

}
.signup-container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-right: 7%;
    margin-left: 10px;
}

.text-container {
margin: 20px;
margin-right: 70px;
text-align: left;
background-color: rgba(0, 0, 0, 0.6);
margin-top: 100px;
max-width: 1000px;
width: 900px;
}

.text-container p {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.5;
    text-align: left;
    font-style: oblique;
    
}
.text-container h3{
    color: gold;
    font-size: 30px;
    margin-right: 100px;
    font-weight: 800;
}
.text-container h1{
    color: gold;
    font-size: 48px;
    font-weight: 900;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: dodgerblue;
}
